
# Ignore composer.lock as this is template project
/composer.lock

# Ignore sensitive information
/web/sites/*/settings*.php
/web/sites/*/services*.yml

# Ignore Drupal's file directory
/web/sites/*/files/

# Ignore SimpleTest multi-site environment
/web/sites/simpletest

# Ignore IDE files
.idea/
.vscode/

# Ignore .env files as they are personal
/.env

# Ignore DB dumps
*.sql
*.sql.gz
*.mysql
*.mysql.gz

# Ignore Lando overrides
.lando.local.yml

# Ignore local docksal files
.docksal/docksal-local*

# Ignore temp files
/.phpunit.result.cache

# Ignore node_modules folder
/node_modules

# Ignore development config files
web/sites/default/development*

# Ignore private file system
/private
