@charset "UTF-8";
.service-status-overview header {
  margin: 2rem 0; }

.service-head p {
  margin: 0;
  font-size: 1.125rem; }

.service-head #toggleAccordions-show a,
.service-head #toggleAccordions-hide a {
  color: #0059A4;
  font-weight: 400; }

.service-status {
  padding: 0; }
  .service-status main {
    margin-top: 0; }
    .service-status main i {
      padding-right: 0; }
  .service-status .nav-tabs {
    display: none; }
  .service-status .card {
    border-top: none;
    border-bottom: 1px solid #ABB4B6;
    border-left: 0;
    border-right: 0;
    background: none; }
    .service-status .card:first-child {
      border-top: 1px solid #ABB4B6; }
    .service-status .card .card-header {
      background: none;
      border: none;
      padding: 25px 20px;
      padding: 1.5625rem 1.25rem; }
      .service-status .card .card-header .status-accordion-header {
        font-size: 26px;
        font-size: 1.625rem;
        text-decoration: underline;
        display: inline;
        padding: 0; }
        .service-status .card .card-header .status-accordion-header:hover, .service-status .card .card-header .status-accordion-header:focus {
          background: #FFBB00;
          color: #121212;
          box-shadow: none;
          text-decoration: none; }
      .service-status .card .card-header a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        position: relative;
        padding-right: 1.8rem; }
        .service-status .card .card-header a:hover, .service-status .card .card-header a:focus {
          background: none;
          box-shadow: none; }
        .service-status .card .card-header a:after {
          font-family: "Font Awesome 5 Free";
          font-weight: 900;
          content: "";
          width: 1.5rem;
          height: 1.5rem;
          position: absolute;
          right: 0;
          top: 0;
          color: #121212;
          font-size: 26px;
          font-size: 1.625rem; }
        .service-status .card .card-header a h2 {
          color: #0059A4;
          text-decoration: underline; }
        .service-status .card .card-header a.collapsed:after {
          content: ""; }
  .service-status .service-status-info,
  .service-status .service-status-warning,
  .service-status .service-status-ok {
    font-weight: 400;
    color: #121212;
    font-size: 1rem;
    margin-top: 5px;
    margin-top: 0.3125rem; }
    .service-status .service-status-info:hover, .service-status .service-status-info:focus,
    .service-status .service-status-warning:hover,
    .service-status .service-status-warning:focus,
    .service-status .service-status-ok:hover,
    .service-status .service-status-ok:focus {
      background: none; }
  .service-status .service-status__1-has-issues a.active .service-status-info {
    color: #FF5500;
    font-weight: 700; }
  .service-status .service-status__1-has-issues a[aria-expanded="true"] .service-status-info {
    display: none; }
  .service-status .service-status__1-has-issues a .service-status-info {
    display: block; }
    .service-status .service-status__1-has-issues a .service-status-info i {
      color: #FF5500; }
  .service-status .service-status__1-has-issues a .service-status-warning {
    display: none; }
  .service-status .service-status__1-has-issues a .service-status-ok {
    display: none; }
  .service-status .service-status__2-no-issues a.active .service-status-ok {
    color: #338800;
    font-weight: 700; }
  .service-status .service-status__2-no-issues a[aria-expanded="true"] .service-status-ok {
    display: none; }
  .service-status .service-status__2-no-issues a .service-status-info {
    display: none; }
  .service-status .service-status__2-no-issues a .service-status-warning {
    display: none; }
  .service-status .service-status__2-no-issues a .service-status-ok {
    display: block; }
    .service-status .service-status__2-no-issues a .service-status-ok i {
      color: #338800; }
  .service-status .service-status__0-severe-impact a.active .service-status-warning {
    color: #AE1100;
    font-weight: 700; }
  .service-status .service-status__0-severe-impact a[aria-expanded="true"] .service-status-warning {
    display: none; }
  .service-status .service-status__0-severe-impact a .service-status-info {
    display: none; }
  .service-status .service-status__0-severe-impact a .service-status-warning {
    display: block; }
    .service-status .service-status__0-severe-impact a .service-status-warning i {
      color: #AE1100; }
  .service-status .service-status__0-severe-impact a .service-status-ok {
    display: none; }

@media (min-width: 767px) {
  .tab-content {
    min-height: 600px;
    min-height: 37.5rem;
    border: 1px solid #ABB4B6; }
  .service-status {
    padding: inherit; }
    .service-status .nav-tabs {
      display: inline-block;
      background: #FAFAFA;
      margin: 0;
      padding: 0;
      border-bottom: 0;
      border-top: 1px solid #ABB4B6;
      border-left: 1px solid #ABB4B6; }
      .service-status .nav-tabs .nav-item {
        display: inline-block;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid #ABB4B6;
        width: 100%; }
        .service-status .nav-tabs .nav-item .nav-link {
          display: inline-block;
          width: 100%;
          text-decoration: none;
          color: #0059A4;
          border: 0;
          font-size: 1.1875rem;
          white-space: normal;
          line-height: 1.5rem;
          transition: none; }
          .service-status .nav-tabs .nav-item .nav-link:hover, .service-status .nav-tabs .nav-item .nav-link:focus {
            border: 0;
            box-shadow: none;
            color: #121212;
            text-decoration: none; }
            .service-status .nav-tabs .nav-item .nav-link:hover .service-status-title, .service-status .nav-tabs .nav-item .nav-link:focus .service-status-title {
              background: #FFBB00; }
          .service-status .nav-tabs .nav-item .nav-link.active {
            position: relative;
            background: #FFFFFF;
            border-right: 1px solid white;
            border-top: 0;
            border-left: 0;
            border-radius: 0;
            margin-left: 1px; }
            .service-status .nav-tabs .nav-item .nav-link.active .service-status-title {
              color: #121212;
              background: #FFBB00;
              text-decoration: none; }
            .service-status .nav-tabs .nav-item .nav-link.active > span {
              margin-left: -1px; }
            .service-status .nav-tabs .nav-item .nav-link.active:after {
              content: '';
              z-index: 1000;
              display: block;
              position: absolute;
              right: -2px;
              top: 0;
              height: 100%;
              background: #FFFFFF;
              width: 5px;
              width: 0.3125rem; }
          .service-status .nav-tabs .nav-item .nav-link .service-status-title {
            text-decoration: underline;
            display: inline;
            font-size: 1.375rem;
            padding: 0; }
            .service-status .nav-tabs .nav-item .nav-link .service-status-title:hover, .service-status .nav-tabs .nav-item .nav-link .service-status-title:focus {
              background: #FFBB00;
              box-shadow: none;
              text-decoration: none; }
    .service-status .card {
      border: none; }
      .service-status .card:first-child {
        border-top: none; }
      .service-status .card .card-header {
        display: none; }
      .service-status .card .collapse {
        display: block; }
      .service-status .card .alert {
        margin-top: 1rem; } }

@media (max-width: 767px) {
  .tab-pane {
    display: block !important;
    opacity: 1; } }

.fade:not(.show) {
  opacity: 1; }
