<section class="jumbotron jumbo-wrapper">
  <div class="container-fluid site-max">
      <div class="row">
        <div class="jumbo-welcome col-12 col-md-8 p-4 order-2 order-sm-1">
          <h1>
            <span>{{ heading }}</span>
          </h1>
        </div>
        <div class=" col-12 col-md-4 p-4 order-1 order-sm-2">
        	<img src="{{ file_url(image) }}" class="img-fluid" />
        </div>
      </div>
  </div>
</section>