@media screen and (min-width: 48rem) {

  .localgov-featured-news {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }

  .localgov-featured-news > article {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: calc(100% / 3 - 1rem);
  }
}
