<div class="lgd-directory__meta-item-field">
  {% if title %}
	<span class="lgd-directory__meta-item-content-label">
		{{ title }}
	</span>
  {% endif %}

  {% if icon %}
    {% include "@localgov_base/includes/icons/icon.html.twig" with {
        icon_name: icon,
        icon_wrapper_element: 'span',
        icon_classes: 'lgd-directory__meta-item-icon',
      }
    %}
  {% endif %}
  
  {% if value %}
	  <span class="lgd-directory__meta-item-content-value">
	  	{{ value }}
	  </span>
  {% endif %}
</div>
