@font-face {
  font-family: 'Lexend-Variable';
  src: url('../fonts/Lexend-Variable.woff2') format('woff2-variations');
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

/* .main::before {
  clip-path: ellipse(75% 100% at 50% 100%);
  height: 66vh;
  background-color: #f5f5f5;
  content: "";
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: -2;
} */

.main::after {
  clip-path: ellipse(36% 100% at 50% 100%);
  height: 11vh;
  background-color: #ffffff;
  content: "";
  width: 100%;
  bottom: 0;
  position: fixed;
  z-index: -1;
}

.lgd-guide-nav {
  background-color: var(--color-grey-lighter);
}

.menu--main>.menu-item a {
  color: var(--color-black);
}

.layout--twocol>.layout__region--first {
  display: flex;
  /* makes the regions equal heights */
  /* flex: 0 1 60%; */
}

.layout--twocol>.layout__region--second {
  display: flex;
  /* makes the regions equal heights */
  /* flex: 0 1 40%; */
}

.layout--threecol-33-34-33 {
  flex-wrap: nowrap;
  gap: var(--spacing);
}

.paragraph--type--page-section+.paragraph--type--page-section {
  margin-bottom: var(--spacing-largest);
}

.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region {
  background-color: var(--color-grey-lighter);
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius);
  padding: var(--spacing-larger);
}

.ia-block {
  background-color: unset;
}

.link-block__title-wrapper {
  align-items: stretch;
}

.link-block__title-icon {
  padding-top: var(--spacing-smaller);
}

.block-localgov-home-welcome-block {
  max-width: var(--width-medium);
}

.layout__region--top .paragraph--type--localgov-text {
  max-width: var(--width-medium);
}

.layout__region--first .paragraph--type--localgov-text,
.layout__region--second .paragraph--type--localgov-text,
.layout__region--third .paragraph--type--localgov-text {
  /* max-width: var(--width-medium); */
  width: 100%;
  background-color: var(--color-grey-lighter);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-grey);
  padding: var(--spacing-large);
}

.block-localgov-home-welcome-block h1 {
  margin-top: var(--spacing-large);
}