@font-face {
  font-family: "Lexend-Variable";
  /* src: url('../fonts/Lexend-Variable.woff2') format('woff2-variations'); */
  src: url("../fonts/Lexend[wght].ttf") format("woff2-variations");
  font-weight: 125 950;
  font-style: oblique 0deg 20deg;
  font-stretch: 75% 125%;
}

body {
  font-size: clamp(var(--font-size-medium), 5vw, var(--font-size-large));
}

.lgd-guide-nav {
  background-color: var(--color-grey-lighter);
}

@media screen and (min-width: 48rem) {
  .menu--main > .menu-item a {
    text-decoration: none;
    color: var(--color-white);
  }

  .menu--main > .menu-item a:hover {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: unset;
  }
  .menu--main > .menu-item a.is-active {
    color: var(--color-accent);
  }
  .menu--main > .menu-item a.is-active:hover {
    color: var(--color-white);
  }
}

.lgd-header__inner {
  justify-content: start;
}

@media screen and (min-width: 48rem) {
  .lgd-header__inner {
    justify-content: end;
  }
}

@media screen and (min-width: 48rem) {
  .lgd-header__toggles {
    margin-left: auto;
  }
}

.lgd-header__toggle {
  padding: var(--spacing-smaller);
}

.lgd-region--search form {
  gap: 0;
}

.branding__item--logo {
  --logo-height: 50px;

  width: unset;
  /*
    Padding is supposed to be 50% of the height of the logo,
    but we also have padding on top/bottom of header, so
    need to take account of that as well - hence `- var(--spacing)`.
  */
  padding-top: calc((var(--logo-height) - var(--spacing)) / 2);
  padding-bottom: calc((var(--logo-height) - var(--spacing)) / 2);
}

@media screen and (min-width: 48rem) {
  .branding__item--logo {
    --logo-height: 60px;
  }
}

.branding__item--logo img {
  width: auto;
  height: var(--logo-height);
}

.lgd-region--search .form-text {
  padding: var(--spacing-smaller);
}

.lgd-region--search form .form-submit {
  padding: 7px var(--spacing);
  border: 0;
}

.layout--twocol > .layout__region--first {
  display: flex;
}

.layout--twocol > .layout__region--second {
  display: flex;
}

.field--name-localgov-subsites-content > .field__item {
  margin-bottom: var(--spacing-largest);
}

.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region {
  padding: var(--spacing-larger);
  border-bottom: var(--border-large);
  background-color: var(--color-grey-lightest);
}

.ia-block {
  background-color: unset;
}

.link-block__title-wrapper {
  align-items: stretch;
}

.link-block__title-icon {
  padding-top: var(--spacing-smaller);
}

.block-localgov-home-welcome-block {
  max-width: var(--width-container);
}

.paragraph--type--localgov-text {
  max-width: var(--width-medium);
}

.layout--twocol .layout__region--first .paragraph--type--localgov-text,
.layout--twocol .layout__region--second .paragraph--type--localgov-text,
.layout--twocol .layout__region--third .paragraph--type--localgov-text {
  width: 100%;
  padding: var(--spacing-large);
  border: 3px solid var(--color-accent);
}

.block-localgov-home-welcome-block {
  padding: var(--spacing-largest) var(--spacing);
}

.block-localgov-home-welcome-block h1 {
  font-size: clamp(var(--font-size-larger), 10vw, 4.3125rem);
}

.block-localgov-home-welcome-block h1,
.block-localgov-home-welcome-block h2 {
  color: var(--color-white);
}

.banner--primary .banner__content {
  max-width: 662px;
  padding: calc(var(--banner-content-padding) * 2) var(--banner-content-padding) var(--banner-content-padding);
  color: var(--color-black);
  border-radius: var(--border-radius);
  background-color: transparent;
  font-size: 27px;
  font-weight: bold;
}

.banner--primary .banner__image {
  display: none;
}

@media screen and (min-width: 48rem) {
  .banner--primary .banner__image {
    display: block;
  }
  .banner--primary .banner__content {
    margin: calc(var(--banner-content-margin) * -6) auto var(--banner-content-margin);
    padding-top: var(--banner-content-padding);
    color: var(--color-white);
    background-color: var(--banner-content-bg-color);
  }
}

.localgov-subsites-overview__content {
  margin-top: var(--spacing-largest);
}

.pager__item.is-active a {
  text-decoration: none;
  font-weight: 700;
}

.menu--main > .menu-item {
  margin-right: 0;
  margin-left: 0;
}

.lgd-region--content-bottom {
  margin-top: var(--spacing-largest);
}

.lgd-prev-next__label {
  font-weight: bold;
}

.lgd-prev-next__title {
  text-decoration: underline;
}

.localgov-services-page__content a,
.lgd-guides__content a,
.block-localgov-services-related-links-block a {
  color: var(--color-blue);
}

.localgov-services-page__content a:visited,
.lgd-guides__content a:visited,
.block-localgov-services-related-links-block a:visited {
  color: var(--color-link);
}

.page-node-type-localgov-services-page h2,
.page-node-type-localgov-services-page h3,
.page-node-type-localgov-services-page h4,
.page-node-type-localgov-services-page h5 {
  padding-top: var(--spacing-large);
}

@media screen and (min-width: 48rem) {
  .lgd-region--search .form-text {
    max-width: 200px;
  }
}

@media screen and (min-width: 48rem) {
  .lgd-header__nav--primary {
    display: block;
  }
}

@media screen and (min-width: 60rem) {
  .lgd-header__nav--primary {
    display: flex;
  }
}

.region-footer__notice--copyright, 
.region-footer__notice--credit {
  font-size: var(--font-size-medium);
}