.call-out-box {
  border-radius: var(--border-radius);
  border: 3px solid var(--color-accent);
}

.call-out-box__content {
  border-radius: var(--border-radius);
}

.call-out-box__link {
  color: var(--color-white);
  background-color: var(--color-grey-dark);
  padding: var(--spacing-small);
  text-decoration: none;
  border-radius: var(--spacing);
}

.call-out-box__link::after {
  font-family: arial unicode ms, lucida sans unicode, sans-serif;
  content: "￫";
  font-size: var(--font-size-larger);
  vertical-align: sub;
}