.call-out-box.lgd-row {
  /* stylelint-disable */
  /* Need to disable stylelint here, or else stylelint will remove the px from 0px */
  --grid-column-spacing: 0px;
  /* stylelint-enable */
}

.call-out-box--has-image .call-out-box__content {
  padding-right: var(--call-out-box-padding);
  border-radius: 0;
  background-color: var(--call-out-box-bg-color);
}

@media screen and (min-width: 48rem) {
  .call-out-box__image,
  .call-out-box__image + .call-out-box__content,
  .call-out-box--has-image .call-out-box__content {
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .call-out-box__image img {
    height: 100%;
  }
  .call-out-box img {
    width: auto;
    object-fit: cover;
  }
}

.call-out-box h2 {
  color: var(--color-white);
}
.call-out-box__content {
  border-radius: var(--border-radius);
}

.call-out-box--image-left {
  flex-direction: row-reverse;
}

.call-out-box--has-image .call-out-box__content {
  padding: calc(var(--spacing) * 3);
}

.call-out-box__link {
  padding: 0;
}

.call-out-box__link h2 {
  text-decoration: underline;
}

.call-out-box__link:focus h2,
.call-out-box__link:hover h2 {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
  background: inherit;
  box-shadow: inherit;
  color: inherit;
}

/* Overrides */
.call-out-box--theme-1.call-out-box--has-image .call-out-box__content {
  --call-out-box-bg-color: var(--color-blue);
}
.call-out-box--theme-1.call-out-box--has-image .call-out-box__link {
  color: var(--color-green);
}
.call-out-box--theme-1.call-out-box--has-image .call-out-box__link svg path {
  fill: var(--color-green);
}
.call-out-box--theme-2.call-out-box--has-image .call-out-box__content {
  --call-out-box-bg-color: var(--color-accent);
}
.call-out-box--theme-2.call-out-box--has-image .call-out-box__link {
  color: var(--color-blue);
}
.call-out-box--theme-2.call-out-box--has-image .call-out-box__link svg path {
  fill: var(--color-blue);
}
