.call-out-box--has-image .call-out-box__content {
  padding-right: 0;
  border-radius: 0;
  background-color: var(--call-out-box-bg-color);
}

@media screen and (min-width: 48rem) {
  .call-out-box__image,
  .call-out-box__image + .call-out-box__content {
  width: 50%;
  margin: 0;
}
}

.call-out-box h2 {
  color: var(--color-white);
}
.call-out-box__content {
  border-radius: var(--border-radius);
}

.call-out-box__link {
  display: inline-flex;
  align-items: center;
  padding: var(--spacing-small);
  text-decoration: none;
  color: var(--color-accent);
  border-radius: var(--spacing);
  background-color: var(--color-white);
}

.call-out-box__link:focus,
.call-out-box__link:hover {
  text-decoration: underline;
}

.call-out-box__link .lgd-icon {
  display: inline-block;
  margin-left: var(--spacing-smaller);
  transition: var(--transition-time);
}
.call-out-box__link:focus .lgd-icon,
.call-out-box__link:hover .lgd-icon {
  transform: translateX(3px);
}

.call-out-box__link .lgd-icon svg path {
  fill: var(--color-accent);
}