.page-node-type-localgov-directory .lgd-region__inner--content-top {
  margin-bottom: var(--spacing-largest);
  padding: var(--spacing-largest);
  border: 3px solid var(--color-accent);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

@media screen and (min-width: 60rem) {
  .page-node-type-localgov-directory .lgd-region__inner--content-top {
    padding: calc(var(--spacing-largest) * 2);
  }
}

.page-node-type-localgov-directory .lgd-page-title-block {
  text-align: center;
}

.page-node-type-localgov-directory .lgd-page-title-block__title,
.page-node-type-localgov-directory .lgd-page-title-block__subheader {
  max-width: none;
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block form {
  display: flex;
  align-items: baseline;
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block .form-item-k {
  flex-grow: 1;
  margin-bottom: 0;
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block .form-actions {
  margin-top: auto;
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block .form-item-k .form-text {
  padding: var(--spacing-smaller);
  padding-left: var(--spacing-largest);
  background-image: url("/themes/custom/anrt_lgd/assets/icons/magnifying-glass.svg");
  background-repeat: no-repeat;
  background-position: var(--spacing-smaller) center;
  background-size: var(--spacing-large);
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block .form-submit {
  padding: var(--spacing-small);
  border: 0;
}

.view-localgov-directory-channel .view-header {
  margin-bottom: var(--spacing-larger);
}
