.path-search .lgd-page-title-block {
  display: none;
}

@media screen and (min-width: 48rem) {
  .sitewide-search>.lgd-row {
    flex-wrap: nowrap;
  }

  .sitewide-search>.lgd-row>.lgd-row__one-third {
    flex-shrink: 0;
  }
}

.sitewide-search .view-header {
  margin-top: var(--spacing-largest);
}

.sitewide-search__results-counter {
  margin-bottom: var(--spacing-largest);
  padding-bottom: var(--spacing-largest);
  border-bottom: var(--border-light-grey);
}

.sitewide-search .form-item-s>label {
  margin-bottom: var(--spacing-largest);
  font-size: var(--font-size-h1);
  font-weight: bold;
}

.page-node-type-localgov-directory .lgd-region__inner--content-top,
.sitewide-search .sitewide-search__header-container {
  max-width: calc(var(--width-restricted-width-section) + var(--spacing-largest));
  margin-bottom: var(--spacing-largest);
  padding-top: var(--spacing-largest);
  padding-bottom: var(--spacing-largest);
}

@media screen and (min-width: 60rem) {

  .page-node-type-localgov-directory .lgd-region__inner--content-top,
  .sitewide-search .sitewide-search__header-container {
    padding-top: var(--spacing-largest);
    padding-bottom: calc(var(--spacing-largest) * 2);
  }
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block form,
.sitewide-search form {
  display: flex;
  gap: var(--spacing-smaller);
  align-items: center;
}

.sitewide-search form {
  align-items: end;
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block .form-item,
.sitewide-search .form-item {
  margin-bottom: 0;
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block .form-item-k,
.sitewide-search .form-item-s {
  flex-grow: 1;
}

.page-node-type-localgov-directory .block-localgov-directories-channel-search-block .form-item-k .form-text,
.sitewide-search .form-item-s .form-text {
  border-color: var(--color-black);
  border-width: 1px;
}

.page-node-type-localgov-directory .lgd-page-title-block__title,
.page-node-type-localgov-directory .lgd-page-title-block__subheader {
  max-width: none;
}

.view-localgov-directory-channel .view-header {
  margin-bottom: var(--spacing-larger);
}

.page-node-type-localgov-services-landing .lgd-page-title-block {
  margin-bottom: var(--spacing-mega);
}

.page-node-type-localgov-services-landing .service-landing-page__service {
  border-bottom: var(--border-light-grey);
}

.page-node-type-localgov-services-page .lgd-page-title-block {
  border-bottom: var(--border-light-grey);
}

.page-node-type-localgov-services-page .lgd-page-title-block__subheader {
  font-size: var(--font-size-larger);
}

.page-node-type-localgov-services-page .lgd-row__full {
  margin-left: 0;
}