.page-node-type-localgov-directory .main-content-container {
  padding-top: calc(var(--spacing-largest) * 2);
  background-color: var(--color-grey-lightest);
}

.view-localgov-directory-channel .view-header {
  padding-bottom: var(--spacing-largest);
  border-bottom: var(--border-light-grey);
}
.localgov-directories-page__group-venue > legend,
.localgov-directories-page__group-enquiries > legend {
  display: none;
}

.localgov-directories-page__content-contacts,
.localgov-directories-page__content-contacts a {
  color: var(--color-black);
  font-size: var(--font-size-medium);
}
.localgov-directories-page__contact {
  display: flex;
  gap: var(--spacing-smaller);
  align-items: start;
  margin-bottom: var(--spacing);
}

.localgov-directories-page__contact .lgd-icon {
  position: relative;
  top: 2px;
}

.localgov-directories-page__contact .lgd-icon svg path {
  fill: var(--color-black);
}

.localgov-directories-page__contact a {
  text-decoration: none;
}

.localgov-directories-page__contact a:focus,
.localgov-directories-page__contact a:hover {
  text-decoration: underline;
}


.localgov-directories-page__group-venue .field--name-postal-address,
.localgov-directories-page__contact {
  padding-right: var(--spacing-largest);
  padding-left: var(--spacing-largest);
}

.localgov-directories-page__contact-container {
  padding: var(--spacing);
  border: var(--border-light-grey);
}

.localgov-directories-page__contact-container + .localgov-directories-page__contact-container {
  margin-top: var(--spacing);
}

.localgov-directories-page__opening-times {
  padding-top: var(--spacing-large);
}

.localgov-directories-page__opening-times .field--name-localgov-directory-opening-times .field__label {
  margin-bottom: var(--spacing);
}

.localgov-directories-page__opening-times .field--name-localgov-directory-opening-times .field__item {
  background-color: var(--color-grey-lighter);
  padding: var(--spacing);
}

.localgov-directories-page__opening-times .field--name-localgov-directory-opening-times .field__item > *:last-child {
  margin-bottom: 0;
}

.localgov-directories-page__content-body > * {
  margin-bottom: var(--spacing-largest);
}

.localgov-directories-page__content-body .field__label {
  margin-bottom: var(--spacing-small);
  color: var(--color-accent);
  font-size: var(--font-size-h2);
  font-weight: bold;
}

.lgd-directory__meta-items {
  margin-top: calc(var(--spacing-largest) * 3);
}

.lgd-directory__meta-item {
  margin-bottom: var(--spacing-largest);
}

@media screen and (min-width: 40rem) {
  .lgd-directory__meta-item {
    display: flex;
  }
}

.lgd-directory__meta-item a {
  color: var(--color-blue);
}

.lgd-directory__meta-item-title {
  width: 200px;
  flex-shrink: 0;
  color: var(--color-black);
}

.lgd-directory__meta-item-field {
  display: flex;
}

.lgd-directory__meta-item-field + .lgd-directory__meta-item-field {
  margin-top: var(--spacing);
}

.lgd-directory__meta-item-content-label {
  width: 75px;
  flex-shrink: 0;
}

.lgd-directory__meta-item-icon {
  margin-right: var(--spacing);
}

.lgd-directory__meta-item-field--has-icon .lgd-directory__meta-item-icon {
  padding-left: var(--spacing-small);
}

.lgd-directory__meta-item-icon--hidden {
  visibility: hidden;
  margin-left: var(--spacing);
}

.lgd-directory__meta-item-icon svg path {
  fill: var(--color-success);
}

.lgd-directory__meta-item-social-link svg {
  width: var(--spacing-large);
}
.lgd-directory__meta-item-social-link--facebook svg path {
  fill: #4267B2;
}
.lgd-directory__meta-item-social-link--twitter svg path {
  fill: #1DA1F2;
}
.lgd-directory__meta-item-social-link--instagram svg path {
  fill: #405DE6;
}

.lgd-directory__meta-item-field--social .lgd-directory__meta-item-content-value {
  display: flex;
  gap: var(--spacing);
  align-items: center;
}

.localgov-directories-page__contact-container > fieldset {
  border: 0;
  padding: 0;
}

.localgov-directories-page__contact-container .field--name-postal-address {
  margin-top: var(--spacing);
}