.block-facets h2 {
  color: var(--color-black);
}

.facets-widget .facet-group__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(var(--spacing-largest));
  padding-top: calc(var(--spacing-largest));
  font-size: clamp(var(--font-size-medium), 5vw, var(--font-size-large));
  color: var(--color-black);
}

.facet-group__title ~ .facet-group__title {
  border-top: var(--border-light-grey);
}

.facet-group__trigger {
  padding: 0;
  transition: var(--transition-time);
  border: 0;
  background-color: transparent;
}

.facet-group__trigger[aria-expanded="true"] {
  transform: rotate(90deg);
}

.facet-group__trigger:focus,
.facet-group__trigger:hover {
  background-color: transparent;
}

.facet-group__trigger svg path {
  fill: var(--color-black);
}
.facet-group__trigger:focus svg path,
.facet-group__trigger:hover svg path {
  fill: var(--color-accent);
}

.js .facets-widget__list:not(:first-of-type) {
  display: none;
}
