.featured-teasers {
  margin: calc(var(--spacing-larger) * -1);
}

.featured-teaser {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  border: unset; 
  border-top: 1px solid var(--color-grey-lighter);
  border-bottom: 0;
  background-color: var(--color-white);
}

.featured-teaser__content {
  padding: var(--spacing-largest) var(--spacing-largest);
}

@media screen and (max-width: 40rem) {
  .featured-teaser__content {
    padding: var(--spacing) var(--spacing);
  }
}

.featured-teaser__heading * {
  color: var(--color-black);
}

.featured-teaser__heading a:focus h2 {
  background: inherit;
  box-shadow: inherit;
}

.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region {
  background-color: var(--color-white);
  border: 1px solid var(--color-grey-lighter);
  border-top: unset;
  border-bottom: var(--border-large-blue);
}