.page-node-type-localgov-directory .lgd-footer {
  margin-top: 0;
}

.region-footer__grid-item {
  margin-bottom: var(--spacing-largest);
}

.region-footer__grid-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 48rem) {
  .region-footer__grid-item {
    margin-bottom: 0;
  }
}

.region-footer .lgd-region__inner {
  padding-right: var(--spacing-largest);
}

.region-footer .menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  gap: var(--spacing);
}

.region-footer .menu-item {
  margin-bottom: var(--spacing);
}

.footer-social-links {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing);
  align-items: center;
}

@media screen and (min-width: 48rem) {
  .footer-social-links {
    justify-content: end;
  }
}

.footer-social-links a svg {
  border-bottom: 2px var(--border-style) var(--color-section-footer-bg);
}

.footer-social-links a:hover svg,
.footer-social-links a:focus svg {
  border-bottom: 2px var(--border-style) var(--color-white);
}

.footer-social-links a:hover svg path,
.footer-social-links a:focus svg path {
  /* fill: var(--color-focus); */
}

.footer-social-links svg path {
  fill: var(--color-white);
}

/* Overlap the icon and link to allow Drupal Node Preview to exit properly if clicked */
/* .footer-social-links li.menu-item {
  display: grid;
  grid-template-columns: 1;
}
.footer-social-links li.menu-item > * {
  grid-column: 1;
  grid-row: 1;
}
.footer-social-links li.menu-item a {
  z-index: 1;
  text-indent: -1000vh;
}
.footer-social-links li.menu-item a:focus {
  background-color: transparent;
} */

.region-footer__rule {
  margin-top: var(--spacing);
  margin-bottom: var(--spacing-larger);
  color: var(--color-white);
}

@media screen and (min-width: 48rem) {
  .region-footer__notice--credit {
    text-align: right;
  }
}

.lgd-footer__footer a {
  background-color: unset;
  line-height: var(--spacing-large);
}