.lgd-guide-nav {
  border: var(--border);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
}

.lgd-guide-nav__list-item--active {
  font-weight: bold;
}

.lgd-guide-nav__list-item > a {
  font-weight: normal;
  color: var(--color-blue);
}

.block-localgov-guides-contents {
  margin-top: var(--spacing-largest);
  margin-bottom: var(--spacing-largest);
}