.lgd-guide-nav {
  border: var(--border);
  background-color: var(--color-white);
}

.lgd-prev-next__list {
  justify-content: space-between;
}

.lgd-guide-nav__list-item {
  margin-bottom: var(--spacing-largest);
}

.lgd-guide-nav__list-item--active {
  font-weight: bold;
}

.lgd-guide-nav__list-item > a {
  color: var(--color-blue);
  font-weight: normal;
}

.block-localgov-guides-contents {
  margin-top: var(--spacing-largest);
  margin-bottom: var(--spacing-largest);
}

.lgd-prev-next__link {
  flex-wrap: wrap;
  align-items: initial;
  padding: var(--spacing-smaller);
  text-decoration: none;
  color: var(--color-blue);
  background-color: var(--color-white);
}

.lgd-prev-next__icon {
  margin-top: 3px;
}

.lgd-prev-next__link svg path {
  fill: var(--color-black);
}

.lgd-prev-next__title {
  width: 100%;
}

.lgd-prev-next__list-item--prev .lgd-prev-next__title {
  padding-left: var(--spacing-large);
}
