.media-with-text--media-right {
  flex-wrap: wrap;
}

.media-with-text__title {
  width: 100%;
}

.media-with-text--media-top {
  padding: var(--spacing-large);
  text-align: center;
  border: 1px solid var(--color-grey-lighter);
  border-radius: var(--border-radius);
  background-color: var(--color-grey-lightest);
}

.media-with-text--media-top .field--name-field-media-image {
  width: 60%;
  margin: auto;
}

.media-with-text--featured {
  padding: var(--spacing-large);
  border-radius: var(--border-radius);
  background-color: var(--color-grey-lighter);
}

.media-with-text--media-left,
.media-with-text--media-right {
  align-content: center;
  justify-content: unset;
}

.media-with-text--media-right .media-with-text__body {
  padding: 0;
}
