.lgd-teaser__location-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing);
}

.lgd-teaser__location {
  font-size: var(--font-size-small);
}

.lgd-teaser__location-icon {
  margin-right: var(--spacing-smaller);
}

.lgd-teaser__location-icon svg {
  width: 12px;
}

.lgd-teaser__location-icon svg path {
  fill: var(--color-accent-alt);
}

.lgd-teaser-list .views-row {
  border-bottom: var(--border-light-grey);
}
