.lgd-teaser__location-container {
  display: flex;
  margin-bottom: var(--spacing);
  align-items: center;
}

.lgd-teaser__location-icon {
  margin-right: var(--spacing-smaller);
}

.lgd-teaser__location-icon svg path {
  fill: var(--color-accent-alt);
}

.lgd-teaser-list .views-row {
  border-width: 1px;
  border-bottom-color: var(--color-grey-lighter);
}